/Users/D/git-practice/GOChub/consulting_site/.env.env
/Users/D/git-practice/GOChub/consulting_site/.env
.vs/GOChub.slnx/v18/.wsuo
.vs/GOChub.slnx/v18/DocumentLayout.backup.json
.vs/GOChub.slnx/v18/DocumentLayout.json
.vs/GOChub/CopilotIndices/18.10.1207.43936/SemanticSymbols.db
.vs/GOChub/FileContentIndex/324f67be-14ce-4bab-b31a-5e7fef4fae4a.vsidx
.vs/GOChub/FileContentIndex/54356304-808b-413a-8ad1-00542e0830df.vsidx
.vs/GOChub/FileContentIndex/7fd93483-f0c2-4f33-a951-b9d5e273253e.vsidx
.vs/GOChub/FileContentIndex/c675a465-3c46-4039-8662-4dea01d37adb.vsidx
.vs/GOChub/FileContentIndex/dc9be5f5-c726-430e-a7c7-adb2bb431fc4.vsidx
.vs/GOChub/FileContentIndex/f8b65235-072e-4291-b095-fae81aaf75b2.vsidx
.vs/GOChub/v17/.wsuo
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/GOChub/v17/.wsuo
.vs/GOChub/FileContentIndex/f8b65235-072e-4291-b095-fae81aaf75b2.vsidx
.vs/GOChub/FileContentIndex/dc9be5f5-c726-430e-a7c7-adb2bb431fc4.vsidx
.vs/GOChub/FileContentIndex/324f67be-14ce-4bab-b31a-5e7fef4fae4a.vsidx
.vs/GOChub.slnx/FileContentIndex/9fc7352d-06f9-48ff-a5d5-5cd6b1b8cc08.vsidx
.vs/slnx.sqlite
.vs/GOChub/v17/.wsuo
